<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#062e3f">
    <meta name="Description" content="Uma dinâmica e aesthetic To-Do List.">

    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
    <link rel="shortcut icon" type="image/png" href="favicon.png"/>
    <link rel="stylesheet" th:href="@{css/main.css}"> <!-- Referência correta para o arquivo CSS com Thymeleaf -->
    
    <title>To do!</title>
</head>

<body>
    <div id="header">
        <div class="flexrow-container">
            <div class="light-theme theme-selector"></div>
            <div class="darker-theme theme-selector"></div>
        </div>
        <h1 id="title">To-do<div id="border"></div></h1>
    </div>

    <div id="form">
        <form th:action="@{/submit-task}" method="post"> <!-- Use Thymeleaf para definir a ação do formulário -->
            <input class="todo-input" type="text" placeholder="Adicione a task" th:name="taskName"> <!-- Use Thymeleaf para definir o nome do campo do formulário -->
            <button class="todo-btn" type="submit">Vamos fazer isso!</button>
        </form>
    </div>

    <div>
        <p><span th:text="${dataAtual}"></span></p> <!-- Use Thymeleaf para exibir a data atual -->
    </div>

    <div id="myUnOrdList">
        <ul>
            <li th:each="task : ${tasks}" th:text="${task.description}"></li> <!-- Use Thymeleaf para iterar sobre a lista de tarefas -->
        </ul>
    </div>
    <script th:src="@{js/main.js}"></script> <!-- Referência correta para o arquivo JavaScript com Thymeleaf -->
</body>
</html>
